# Core IA e Agentes
langchain
langchain-community
langchain-google-genai
langchain-huggingface
langchain-qdrant
langchain-text-splitters
langgraph

# Extração de Dados e PDFs
pymupdf
tiktoken
pandas
pyarrow

# Bancos Vetoriais e Busca Híbrida
qdrant-client
sentence-transformers
rank-bm25
scikit-learn
torch
torchvision
torchaudio

# Utilitários
python-dotenv

# Interface Visual
streamlit